body{
    background-color: #EEEBDD;
}
.header{
    display: flex;
    background-color: #D8B6A4;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #950101;
}
.slogan{
    padding: 10px;
    font-family: 'Lobster', cursive;
    font-size: 21px;
}
.logo{
    width: 140px;
}
.main{
    display: block;
    align-items: center;
}
h2{
    font-family: 'Lobster', cursive;
    color: #950101;
    text-align: center;
}
p, table{
    font-family: 'Roboto Slab', serif;
    font-size: medium;
}
table{
    border:#950101 solid 2px;
    padding: 15px;
   
}
li{
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    background-color: #D8B6A4;
    border-radius: 4px;

}
.f{
   
    text-align: center;
}
.footer{
    opacity: 0.6;
    text-align: center;
    border-top: #630A10 solid 1px;
    margin: 0;
    height: 60px;
}
