body{
    background-color:  #FFF9B6;
    font-family: 'Balsamiq Sans', cursive;
    color: #630A10;
  

 
}

form{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

.form{
    flex-grow: 1;
    background-color: bisque;
    width: 600px;
}
.registerbtn{
    flex-grow: 1;
    width: 630px;
    height: 70px;
    font-size: 20px;
    font-family: 'Balsamiq Sans', cursive;
    background-color: rgb(99,10,16);
    color: rgb(253, 225, 171);
    cursor: pointer;
   opacity: 0.8;
}
.registerbtn:hover{
    opacity: 1;
    
}
.name{
    font-size: 20px;
}
.foot{
    font-family: 'Balsamiq Sans', cursive;
    color: #630A10;
    opacity: 0.6;
    text-align: center;
    border:#630A10 solid 1px ;
    margin: 0%;

}